
<div  class="card" >
    <div class ="col-md-6 offset-md-3 mt-4" class="center" >
        <h3 class="col-md-6 offset-md-3 mt-4">Login</h3>
        <form [formGroup]="login">
            
            <div class="form-group">
              <label >Username</label>
              <input type="text" class="form-control"   placeholder="Enter username" formControlName="username"/> 
              
            </div>
            <div class="form-group">
              <label >Password</label>
              <input type="password" class="form-control"  placeholder="Password" formControlName="password"/>
            </div>
            
            <button  (click)="loginSubmit(login.value)" [disabled]="login.invalid"  style ="margin-right:16px" type="submit" class="btn btn-primary" >Login </button>
            <button (click)="goToSignup()" style ="margin-right:16px" type="submit"class="btn btn-primary">Register </button>
          </form>
    </div>
</div>



